<app-ngx-modal [imagePath]="recipeForm.get('imagePath').value"></app-ngx-modal>
<div class="row" style="height: 550px; overflow-y: scroll">
  <div class="col">
    <form [formGroup]='recipeForm' (submit)="onSubmit()">
      <div class="row form-group">
        <div class="col">
          <button class="btn btn-success m-1 mt-2" type="submit">Save</button>
          <button class="btn btn-danger m-1 mt-2" type="button" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary m-1 mt-2" type="button"
            *ngIf="recipeForm.value['imagePath']"
            (click)="onPreview()">Preview Image</button>
        </div>
      </div>
      <div class="row form-group">
        <label for="name" class="col-form-label col-2">Name</label>
        <div class="col-10">
          <input type="text" class="form-control" name="name" id="name" formControlName="name">
        </div>
      </div>
      <div class="row form-group">
        <label for="imagePath" class="col-form-label col-2">Image Path</label>
        <div class="col-10">
          <input type="text" name="imagePath" id="imagePath" class="form-control" formControlName="imagePath">
        </div>
      </div>
      <!--<div class="row">
        <label for="imagePreview" class="col-form-label col-2">Image Preview</label>
        <div class="col-10 text-center">
          <img [src]="recipeForm.get('imgPath').value" 
                alt="Image Not loaded" 
                class="img-fluid img-thumbnail"
                id="imagePreview" 
                style="max-height:300px; max-width: 300px">
        </div>
      </div>-->
      <div class="row form-group">
        <label for="description" class="col-form-label col-2">Description</label>
        <div class="col-10">
          <textarea name="description" id="description" cols="20" rows="3" class="form-control"  formControlName="description"></textarea>
        </div>
      </div>
      <div class="row my-1" >
        <div class="col text-center">
          <button class="btn btn-primary" type="button" (click)="onAddIngredient()">Add Ingredient</button>
        </div>
      </div>
      <div class="row" formArrayName="ingredients"> 
        <div class="col">
          <div class="row"  *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index"
            [formGroupName]="i">
            <div class="col-9 my-1">
              <input type="text" name="ingredient" id="ingredient" class="form-control" formControlName="name">
            </div>
            <div class="col-2">
              <input type="number" name="amount" id="amount" class="form-control" formControlName="amount">
            </div>
            <div class="col-1">
              <button class="btn btn-danger float-right" type="button" (click)="onRemoveIngr(i)">&times;</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>