<div class="row">
  <div class="col">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
          Manage Recipe
        <div class="dropdown-menu">
          <li><a class="dropdown-item" href="#">To Shopping List</a></li>
          <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
          <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
        </div>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">Desciption</div>
</div>

<div class="row">
  <div class="col">Ingredients</div>
</div>