<div class="row m-2 float-right" style="position: fixed">
  <div class="col-5 ">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid img-thumbnail mt-4" style="max-height: 400px">
  </div>
  <div class="col-7">
    <div class="row my-3">
      <div class="col">
        <h1>{{recipe.name}}</h1>
      </div>
    </div>
    <div class="row my-2">
      <div class="col">
        <p>{{recipe.description}}</p>
      </div>
    </div>
    <div class="row my-2">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item active" style="cursor: pointer">Ingredients</li>
          <li class="list-group-item" style="cursor: pointer" *ngFor="let ingredient of recipe.ingredients">
            {{ingredient.name}} ({{ingredient.amount}})
          </li>
        </ul>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <div class="btn-group" appDropdown #dd="appDropdown">
          <button class="btn btn-primary dropdown-toggle">
              Manage Recipe
            <ul class="dropdown-menu" [ngClass]="{'show' : dd.isShow}">
              <li><a class="dropdown-item" href="#">To Shopping List</a></li>
              <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
              <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>