<div class="row">
  <div class="col">
    <app-shopping-edit (shopEditEmitter)="onShopEditEmitter($event)"></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <li 
      class="list-group-item"
      style="cursor: pointer" 
      *ngFor="let ingredient of (shoppingListState | async).ingredients; let i = index"
      (click)="editIngredients(i)"
      >
        {{ingredient.name}} ({{ingredient.amount}})
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-file-uplaod></app-file-uplaod>
  </div>
</div>